<div id="map">
    <div id="btn-config-show" class="btns-in-map" style="display: none"><%=image_tag("config_icon.png", class: "icon")%></div>
    <div id="btn-draw-area" style="display: none"><%=image_tag("area_icon.png", class: "icon-draw")%></div>
    <div id="btn-draw-pv" style="display: none"><%=image_tag("pv_icon.png", class: "icon-draw")%></div>
    <div class="container-config hideToUser" id="config">
        <div id="btn-config-hide"><%=image_tag("close_icon.png", class: "icon")%></div>
        <div class="form_label">
          <span class="form_text">Проект</span>
          <%= select_tag "select_project", 
              options_from_collection_for_select(@projects, :id, :title), 
              prompt: 'Выберите',
              class: "field_one_select"
          %>
        </div> 
        <%# <div class="btn" id="btn_save_area"> Сохранить область </div> %>
        <div class="form_label">
          <span class="form_text">Конфигурация</span>
          <%= select_tag "select_config", 
              options_from_collection_for_select(@area_configs, :id, :title), 
              prompt: 'Выберите',
              class: "field_one_select"
          %>
        </div> 
        <%# <br> %>
        <div class="calculation-box">
            <div id="calculated-area"></div>
        </div>    
        <form class="form" id="data" >
          <h3 id="config_name">Конфигурация № 1</h3>
          <h3>Параметры участка</h3>
          <div class="form_label">
            <span class="form_text">Расстояние от границ участка до ограждения, м</span>
            <input type="number" id="dist_to_barrier" name="distance-to-barrier" value="20" required>
          </div> 
          <div class="form_label">
            <span class="form_text">Расстояние от ограждения до полезной площади, м:</span>
            <input type="number" id="dist_to_pv_area" name="distance-to-pv-area" value="20" required>
          </div> 

          <h3>Параметры опорной конструкции</h3>
          <div class="form_label">
            <span class="form_text">Название модуля</span>
            <%= select_tag "select-pv-modules", 
                  options_from_collection_for_select(@pv_modules, :id, :model), 
                  prompt: 'Выберите',
                  class: "field_one_select"
            %>
            <%= content_tag :div, id: "params_modules", data: {temp: @pv_modules} do %>
            <% end %>
          </div> 
          <div class="form_label">
            <span class="form_text">Количество рядов</span>
            <input type="number" id="count-column-pv" name="count-column-pv" value="1" min="1">
          </div> 
          <div class="form_label">
            <span class="form_text">Количество модулей в ряду</span>
            <input type="number" id="count-row-pv" name="count-row-pv" value="1" min="1">
          </div> 
          <div class="form_label">
            <span class="form_text">Отступ между модулями, см</span>
            <input type="number" id="offset-pv" name="offset-pv" value="2">
          </div> 
          <div class="form_label">
            <span class="form_text">Ориентация</span>
            <div class="form_radio_group">
                <div class="form_radio_group-item">
                    <input type="radio" id="orient-v" name="orientation" value="vertical" checked>
                    <label for="orient-v">Книжная</label>
                </div>
                <div class="form_radio_group-item">
                    <input type="radio" id="orient-h" name="orientation" value="horizontal">
                    <label for="orient-h">Альбомная</label>
                </div>
            </div>
          </div> 
          <div class="form_label">
            <span class="form_text">Тип стола</span>
            <div class="form_radio_group">
                <div class="form_radio_group-item">
                    <input type="radio" id="type-table1" name="type-table" value="tracker" checked>
                    <label for="type-table1">Трекер</label>
                </div>
                <div class="form_radio_group-item">
                    <input type="radio" id="type-table2" name="type-table" value="fix">
                    <label for="type-table2">Фикс</label>
                </div>
            </div>
          </div> 
          <div class="form_label" id="angle-fix" style="display: none;">
            <span class="form_text">Угол наклона</span>
            <div>
                <input type="range" id="angle_fix" value="0" min="0" max="60" name="angle-fix" oninput="rangevalue.value=value"/>
                <output id="rangevalue">0</output>
            </div>
          </div> 
          <div class="btn" id="btn-svg-area-show"> Показать стол</div>
          
          <h3>Параметры размещения</h3>
          <div class="form_label">
            <span class="form_text">Шаг, м</span>
            <input type="number" id="height_offset_tables" name="height-offset-tables"  value="10" required>
          </div> 
          <div class="form_label">
            <span class="form_text">Расстояние между столами, см</span>
            <input type="number" id="width_offset_tables" name="width-offset-tables" value="20" required>
          </div> 
          <div class="form_label">
            <span class="form_text">Выравнивание столов относительно границ площадки</span>
            <div class="form_radio_group">
                <div class="form_radio_group-item">
                    <input type="radio" id="left" name="align-tables" value="left" >
                    <label for="left">Левая граница</label>
                </div>
                <div class="form_radio_group-item">
                    <input type="radio" id="center" name="align-tables" value="center" checked>
                    <label for="center">Центр</label>
                </div>
                <div class="form_radio_group-item">
                    <input type="radio" id="right" name="align-tables" value="right">
                    <label for="right">Правая граница</label>
                </div>
            </div>
          </div> 
          <div class="form_label">
            <span class="form_text">Угол поворота столов относительно азимута</span>
            <div>
                <input type="range" value="0" min="0" max="180" name="angle-from-azimut" id="angle-from-azimut" oninput="rangevalue2.value=value"/>
                <output id="rangevalue2">0</output>
            </div>
          </div> 

          <h3>Настройки карты</h3>
          <div class="form_label">
            <span class="form_text">Слои:</span>
            <div class="column-group">
                <div class="row-group">
                    <label class="toggler-wrapper">
                        <input type="checkbox" id="check-visible-border-lines">
                        <div class="toggler-slider">
                            <div class="toggler-knob"></div>
                        </div>
                    </label>
                    <label class="checkbox-title">Рамка столов</label>
                </div>
                <div class="row-group">
                    <label class="toggler-wrapper">
                        <input type="checkbox" id="check-visible-dash-lines" checked>
                        <div class="toggler-slider">
                            <div class="toggler-knob"></div>
                        </div>
                    </label>
                    <label class="checkbox-title">ФЭМ</label>
                </div>
                <div class="row-group">
                    <label class="toggler-wrapper">
                        <input type="checkbox" id="check-visible-pv-polygons" checked>
                        <div class="toggler-slider">
                            <div class="toggler-knob"></div>
                        </div>
                    </label>
                    <label class="checkbox-title">Столы</label>
                </div>
            </div>
          </div> 
          <button type="submit" class="btn">Сохранить</button>
        </form>
    </div>
    <div class="container-svg" id="svg-area" style="display: none;">
        <svg id="svg"></svg>
    </div>
</div>