<%= render "map" %>
<div class='row-group'>
  <div class="form_radio_group item-row-group" id="map_styles" style="display: none;">
      <div class="form_radio_group-item">
          <%= radio_button_tag('style_map', 'satellite', true) %>
          <%= label_tag(:style_map_satellite, "Спутник") %>
      </div>
      <div class="form_radio_group-item">
          <%= radio_button_tag('style_map', 'streets', false) %>
          <%= label_tag(:style_map_streets, "Bing Maps") %>
      </div>
      <div class="form_radio_group-item">
          <%= radio_button_tag('style_map', 'outdoors', false) %>
          <%= label_tag(:style_map_outdoors, "Рельеф") %>
      </div>
      <%# <div class="form_radio_group-item"> %>
          <%# <%= radio_button_tag('style_map', 'terrain', false) %> 
          <%# <%= label_tag(:style_map_terrain, "3D") %>  
      <%# </div> %>
  </div>
  <div id="distance" class="distance-container item-row-group"></div>
</div>
<br>
<br>
<br>
<div class="map_options" style="display: none;">
  <div class="option">
    <div class='form_label'>
    <h3>Импорт</h3>
      <span class="form_text">Загрузка изображения для плана</span>
      <input type="file" id="load_image_file" accept="image/*" />
    </div>
    <br>
    <div class='form_label'>
      <span class="form_text">Загрузка контуров из KML</span>
      <input type="file" id="load_kml_file" accept=".kml" />
    </div>
    <div class='form_label'>
      <button class='btn' id='btn_load_kml'>Загрузить на карту</button>
    </div>
  </div>

  <div class="option">
    <div class='form_label'>
      <h3>Создание прямоугольной области</h3>
      <span class="form_text">Длина, м</span>
      <input type="number" id='in_rect_length'>
      <span class="form_text">Ширина, м</span>
      <input type="number" id='in_rect_width'>
      <span class="form_text">Угол</span>
      <div>
          <input type="range" value="0" min="0" max="180" id='in_rect_angle' style='padding:0;' oninput="rangevalue3.value=value"/>
          <output id="rangevalue3">0</output>
      </div>
      <button class='btn' id='btn_create_rect'>Создать область</button>
    </div>
  </div>

  <div class="option">
    <div class='form_label'>
      <h3>Выгрузка рельефа</h3>
      <span class="form_text">В разработке</span>
      <%# <button class='btn' id='btn_create_rect' disabled>Выгрузка рельефа в CSV</button> %>
    </div>
  </div>
</div>