<%= render "map" %>
<div class='row-group'>
  <div class="form_radio_group item-row-group" id="map_styles" style="display: none;">
      <div class="form_radio_group-item">
          <%= radio_button_tag('style_map', 'satellite', true) %>
          <%= label_tag(:style_map_satellite, "Спутник") %>
      </div>
      <div class="form_radio_group-item">
          <%= radio_button_tag('style_map', 'streets', false) %>
          <%= label_tag(:style_map_streets, "Bing Maps") %>
      </div>
      <div class="form_radio_group-item">
          <%= radio_button_tag('style_map', 'outdoors', false) %>
          <%= label_tag(:style_map_outdoors, "Рельеф") %>
      </div>
      <%# <div class="form_radio_group-item"> %>
          <%# <%= radio_button_tag('style_map', 'terrain', false) %> 
          <%# <%= label_tag(:style_map_terrain, "3D") %>  
      <%# </div> %>
  </div>
  <div id="distance" class="distance-container item-row-group"></div>
</div>
<br>
<div class='block_load' style='display: none'>
  <span class="form_text">Загрузка изображения для плана</span>
  <input type="file" id="load_image_file" accept="image/*" />
</div>
<br>
<div class='block_load' style='display: none'>
  <span class="form_text">Загрузка контуров из KML</span>
  <input type="file" id="load_kml_file" accept=".kml" />
  <button class='btn' id='btn_load_kml'>Загрузить на карту</button>
</div>
<%# <br> %>
<%# <div> %>
  <%# <%= link_to 'Выгрузка рельефа в CSV', export_path, class: 'btn', disabled: true %>
<%# </div> %>
