<h2>Фотоэлектрические модули</h2>
<%= form_tag import_pv_modules_path, :multipart => true do %>
    <%= file_field_tag "file", accept: ".PAN" %>
    <%= submit_tag "Обработать", class: "btn" %>
<% end %>

<table>
  <thead>
    <tr>
      <th>Производитель</th>
      <th>Модель</th>
      <th>Мощность, Вт</th>
      <th>Ширина, м</th>
      <th>Высота, м</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @pv_modules.each do |pv_module| %>
      <tr>
        <td><%= pv_module.manufacturer %></td>
        <td>
          <%= form_tag update_model_path(pv_module) do %>
            <div class="row-group">
              <%= text_field_tag :input_pv_model, value = pv_module.model, class: "input_text_only"  %>
              <%= submit_tag "Изменить", class: "btn_text_only" %>
            </div>
          <% end %>
        </td>
        <td><%= pv_module.power %></td>
        <td><%= pv_module.width %></td>
        <td><%= pv_module.height %></td>
        <td>
          <%= link_to 'Удалить', 
                  pv_module,
                  class: 'btn_text_only',
                  data: { turbo_method: :delete, turbo_confirm: 'Вы уверены?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>