<h2>Проекты</h2>
<%= link_to 'Новый проект', new_project_path, class: "btn_text_only"%>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Параметры</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td>
          <%= form_tag project, method: "patch" do %>
            <%= text_field_tag :input_project_title, value = project.title, class: "input_text_only"  %>
            <%= submit_tag "Изменить", class: "btn_text_only" %>
          <% end %>
        </td>
        <td>Кол-во конфигураций: <%= project.area_configs.count %>,
            <% if project.total_params %>
              <%= 
                "Площадь области:  #{project.total_params['squares']['all_area']['meters']} м²/  #{project.total_params['squares']['all_area']['hectares']} га,
                Полезная площадь:  #{project.total_params['squares']['pv_area']['meters']} м²/  #{project.total_params['squares']['pv_area']['hectares']} га,
                Кол-во cтолов: #{project.total_params['all_tables']} ,"
              %>
            <% end %>
        </td>
        <td>
          <%= link_to 'Удалить', 
                  project,
                  class: 'btn_text_only',
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
          %>
          <%= link_to 'Подробнее', 
                  project,
                  class: 'btn_text_only'
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>