<%= link_to '<', projects_path, class: "btn_text_only"%>
<h2><%= @project.title %></h2>
<%= link_to 'Добавить новую конфигурацию', new_area_config_path(project_id: @project), class: "btn_text_only"%>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Конфигурация</th>
      <th>Итог</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @area_config.each do |config| %>
      <tr>
        <td>
          <%= form_tag config, method: "patch" do %>
            <%= text_field_tag :input_config_title, value = config.title, class: "input_text_only"  %>
            <%= submit_tag "Изменить", class: "btn_text_only" %>
          <% end %>
        </td>
        <td>
          <%= 
            "
            Расстояние до ограждения: #{config.configuration['distance_to_barrier']},
            Расстояние до полезной площади: #{config.configuration['distance_to_pv_area']},
            Высота стола: #{config.configuration['height_table']},
            Ширина стола: #{config.configuration['width_table']},
            Кол-во рядов: #{config.configuration['row_pv_in_table']},
            Кол-во модулей в ряду: #{config.configuration['column_pv_in_table']},
            Отступ модулей: #{config.configuration['offset_pv']},
            Ориентация стола: #{config.configuration['orientation']},
            Тип стола: #{config.configuration['type_table']},
            Угол фикса: #{config.configuration['angle_fix']},
            Шаг: #{config.configuration['height_offset_tables']},
            Расстояние между столами: #{config.configuration['width_offset_tables']},
            Выравнивание столов: #{config.configuration['align_row_tables']},
            Угол относительно азимута: #{config.configuration['angle_from_azimut']},
            " 
          %>
        </td>
        
        <td>
          <% if config.total_params %>
            <%= 
              "Площадь области:  #{config.total_params['squares']['all_area']['meters']} м²/  #{config.total_params['squares']['all_area']['hectares']} га,
              Полезная площадь:  #{config.total_params['squares']['pv_area']['meters']} м²/  #{config.total_params['squares']['pv_area']['hectares']} га,
              Кол-во cтолов: #{config.total_params['all_tables']}"
            %>
          <% end %>
        </td>
        <td>
          <%= link_to 'Удалить', 
                  config,
                  class: 'btn_text_only',
                  data: { turbo_method: :delete, turbo_confirm: 'Вы уверены?' }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>