<%= link_to '<', projects_path, class: "btn_text_only"%>
<h2><%= @project.title %></h2>
<%= link_to 'Добавить новую конфигурацию', new_area_config_path(project_id: @project), class: "btn_text_only"%>

<table>
  <thead>
    <tr>
      <th>Название</th>
      <th>Конфигурация</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @area_config.each do |config| %>
      <tr>
        <td>
          <%= form_tag config, method: "patch" do %>
            <%= text_field_tag :input_config_title, value = config.title, class: "input_text_only"  %>
            <%= submit_tag "Изменить", class: "btn_text_only" %>
          <% end %>
        </td>
        <td><%= config.configuration %></td>
        <td>
          <%= link_to 'Удалить', 
                  config,
                  class: 'btn_text_only',
                  data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>