<div class="container-result">
    <h2>Отчет</h2>
    <br>
    <%= form_tag(export_pdf_path(format: :pdf), method: "get", target: '_blank', id: "form_pdf", style: "display: none") do %>
      <div class="row-group">
        <label class="item-row-group">
            Проект
            <%= select_tag "select_project_pdf", 
                options_from_collection_for_select(@projects, :id, :title), 
                prompt: 'Выберите',
                required: true  
            %>
        </label>
        <label class="item-row-group">
            Выбор конфигураций помещаемых в отчет 
            <%= select_tag "select_config_pdf", 
                options_from_collection_for_select(@area_configs, :id, :title), 
                prompt: 'Выберите',
                multiple: true,
                required: true  
            %>
        </label>
      </div>
      <div class="column-group">
          <div class="item-row-group">
              <label class="checkbox-title">Скачать PNG</label>
              <label class="toggler-wrapper">
                  <input type="checkbox" id="download_img">
                  <div class="toggler-slider">
                      <div class="toggler-knob"></div>
                  </div>
              </label>
          </div>
          <div class="row-group">
            <div class="form_radio_group" id="not_map_styles">
                <div class="form_radio_group-item">
                    <%= radio_button_tag('style_not_map', 'satellite', true) %>
                    <%= label_tag(:style_not_map_satellite, "Спутник") %>
                </div>
                <div class="form_radio_group-item">
                    <%= radio_button_tag('style_not_map', 'streets', false) %>
                    <%= label_tag(:style_not_map_streets, "Стандарт") %>
                </div>
                <div class="form_radio_group-item">
                    <%= radio_button_tag('style_not_map', 'outdoors', false) %>
                    <%= label_tag(:style_not_map_outdoors, "Рельеф") %>
                </div>
            </div>
          </div>
        </div>
      <%= submit_tag "PDF", id: "btn_pdf", class: "btn"%>
    <% end %>
</div>