<div class="createAccount_wrapper">
  <div class="container">
    <%= form_tag(export_file_path(format: :pdf), 
                  method: "get", 
                  target: '_blank', 
                  id: "form_pdf", 
                  class: 'createAccount',
                  style: "display: none"
                ) do %>
      <div class="createAccount_inner">
        <h3>PDF</h3>

        <div class="form_label">
          <span class="form_text">Проекты</span>
          <%= select_tag "select_project_pdf", 
              options_from_collection_for_select(@projects, :id, :title), 
              prompt: '',
              required: true,
              class: "field_one_select",
              style: "@media (min-width: 768px) { height: calc(4 * 38px)}"
          %>
          <span class="error_text"></span>
        </div>     
        
        <div class="form_label">
          <span class="form_text">Конфигурации</span>
          <div class="multiselect_block">
            <label for="select_config_pdf" class="field_multiselect" id="multiselect_field"></label>

            <input id="checkbox_config_pdf" class="multiselect_checkbox" type="checkbox">
            <label for="checkbox_config_pdf" class="multiselect_label"></label>

            <%= select_tag "select_config_pdf", 
                options_from_collection_for_select(@area_configs, :id, :title), 
                # placeholder: 'Выберите',
                multiple: true,
                required: true,
                class: "field_select",
                style: "@media (min-width: 768px) { height: calc(4 * 38px)}"
            %>
            <%# <span class="field_multiselect_help">You can select several items by pressing <b>Ctrl(or Command)+Element</b></span> %>
          </div>
          <span class="error_text"></span>
        </div>
        

        <span class="form_text">Опции</span>
        <label class="createAccount_policy" id="high_res_checkblock">
          <div class="toggler-wrapper">
              <input type="checkbox" id="high_res_plane" checked>
              <div class="toggler-slider">
                  <div class="toggler-knob"></div>
              </div>
          </div>
          <div class="input_checkbox__decor">Спутниковые снимки хорошего качества</div>
        </label>


        <div class="form_radio_group" id="not_map_styles">
            <div class="form_radio_group-item">
                <%= radio_button_tag('style_not_map', 'satellite', true) %>
                <%= label_tag(:style_not_map_satellite, "Спутник") %>
            </div>
            <div class="form_radio_group-item">
                <%= radio_button_tag('style_not_map', 'topo', false) %>
                <%= label_tag(:style_not_map_topo, "Рельеф") %>
            </div>
        </div>

        <div class="createAccount_buttons">
          <button class="btn btn_createAccount" id="btn_png" title="Скачать планы конфигураций">Скачать PNG</button>
          <button class="btn btn-empty btn_backStep1" id="btn_pdf">Создать PDF</button>
          <%= submit_tag "Открыть", id: "btn_open_pdf", class: "btn btn-empty ", style: "display: none" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
