<!DOCTYPE html>
<html>
  <head>
    <title>Carta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div>
            <h2><%= link_to 'CARTA PV', pv_maps_path %></h2>
        </div>
        <div class="form_radio_group" id="map_styles" style="display: none;">
            <div class="form_radio_group-item">
                <%= radio_button_tag('style_map', 'satellite', true) %>
                <%= label_tag(:style_map_satellite, "Спутник") %>
            </div>
            <div class="form_radio_group-item">
                <%= radio_button_tag('style_map', 'streets', false) %>
                <%= label_tag(:style_map_streets, "Стандарт") %>
            </div>
            <div class="form_radio_group-item">
                <%= radio_button_tag('style_map', 'outdoors', false) %>
                <%= label_tag(:style_map_outdoors, "Рельеф") %>
            </div>
        </div>
        <div class="head-options">
            <div class="row-group">
              <div class="item-row-group">
                <%= link_to 'Export', export_path, class: "btn"%>
              </div>
              <%# <div class="item-row-group">
                <a id="downloadLink" class="btn">PNG</a>
              </div> %>
              <div class="item-row-group">
                <%= link_to 'Проекты', projects_path, class: "btn"%>
              </div>
              <div class="item-row-group">
                <%= link_to 'Модули', pv_modules_path, class: "btn"%>
              </div>
            </div>
        </div>
    </header>
    <div class="main"> 
        <%= turbo_frame_tag "flash" do %>
          <%= render "layouts/flash" %>
        <% end %>
        <%= yield %>
    </div>
    <footer>
        <h2>Contacts</h2>
        <a href="https://github.com/Croud9/CartaPV" target="_blank">Create by Svyat Melihov | Croud9</a>
    </footer>
  </body>
</html>
