<!DOCTYPE html>
<html>
  <head>
    <title>Carta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div>
            <h2><%= link_to 'CARTA PV', pv_maps_path%></h2>
        </div>
        <nav class="menu menu-1">
          <ul>
            <li><%= link_to 'Экспорт', export_path%></li>
            <li><%= link_to 'Проекты', projects_path%></li>
            <li><%= link_to 'Модули', pv_modules_path%></li>
            <li><a href="#">Профиль</a></li>
          </ul>
        </nav>
    </header>
    <div class="main"> 
        <%= turbo_frame_tag "flash" do %>
          <%= render "layouts/flash" %>
        <% end %>
        <%= yield %>
    </div>
    <footer>
        <h2>Contacts</h2>
        <a href="https://github.com/Croud9/CartaPV" target="_blank">Create by Svyat Melihov | Croud9</a>
    </footer>
  </body>
</html>
