<!DOCTYPE html>
<html>
  <head>
    <title>Carta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
        <div>
            <h2><%= link_to 'CARTA PV', pv_maps_path %></h2>
        </div>
        <div class="head-options">
            <%# <button class="btn">Модули</button> %>
            <%= link_to 'Модули', pv_modules_path, class: "btn"%>
            <%# <a href="" ><img src="https://cdn-icons-png.flaticon.com/512/56/56763.png" class="icon-header"></a>
            <a href="" ><img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" class="icon-header"></a>  %>
        </div>
    </header>
    <div class="main"> 
        <%= yield %>
    </div>
    <footer>
        <h2>Contacts</h2>
    </footer>
  </body>
</html>
